{% extends 'base/base.html' %}
{% block title %}
<title>Add Project</title>
{% endblock title %}
{% block content%}
<div id="layoutAuthentication_content">
    <main>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="card shadow-lg border-0 rounded-lg mt-5">
                        <div class="card-header"><h3 class="text-center font-weight-light my-4">Add Project</h3></div>
                        <div class="card-body">
                            <form id="addProjectForm" method="POST" enctype="multipart/form-data" action="{% url 'add-project' %}">
                                {% csrf_token %}
                                <!-- Form -->
                                {{ form.as_p }}
                                <!-- Buttons Wrapper -->
                                <div class="d-flex justify-content-center">
                                    <!-- Submit Button -->
                                    <button class="btn btn-primary w-50" id="addProjectButton" type="submit">Add Project</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
{% endblock content %}
