{% extends 'base/base.html' %}
{% block title %}
<title>Projects</title>
{% endblock title %}
{% block content %}
<header class="bg-light py-5 mb-2">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <div class="text-center my-5">
                    <h1 class="display-5 fw-bolder mb-2">143 Custom Designs Projects Home</h1>
                    <p class="text-primary mb-4">Here you can manage the site by managing current projects. Create a new project with the Add Project button, or manage the current projects with the Edit and Delete buttons.</p>
                </div>
            </div>
        </div>
    </div>
</header>
<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Projects</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Dashboard</a></li>
            <li class="breadcrumb-item active">Projects</li>
        </ol>
        <div class="card mb-4">
            <div class="card-header d-flex justify-content-between align-items-center">
                <div>
                    <i class="fas fa-table me-1"></i>
                    Projects
                </div>
                <div>
                    {% comment %} <a id="addProjectNavigation" class="btn btn-success" href="{% url 'add-project' %}">Add Project</a> {% endcomment %}
                </div>
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Title</th>
                            <th>Thumbnail</th>
                            <th>Repository</th>
                            <th>Live Demo</th>
                            <th>Created</th>
                            <th>Edited</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>ID</th>
                            <th>Title</th>
                            <th>Thumbnail</th>
                            <th>Repository</th>
                            <th>Live Demo</th>
                            <th>Created</th>
                            <th>Edited</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for project in projects %}
                            <tr>
                                <td>MESS{{ project.pk }}</td>
                                <td>{{ project.title }}</td>
                                <td>{{ project.image_preview }}</td>
                                <td>{{ project.repo }}</td>
                                <td>{{ project.demo }}</td>
                                <td>{{ project.created }}</td>
                                <td>{{ project.edited }}</td>
                                <td></td>
                                <td></td>
                                {% comment %} <td><a class="btn btn-primary" href="{% url 'edit-project' project.pk %}">Edit</a></td> {% endcomment %}
                                {% comment %} <td><a class="btn btn-danger" href="{% url 'delete-project' project.pk %}">Delete</a></td> {% endcomment %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
{% endblock content %}
