{% extends 'base/base.html' %}
{% block title %}
<title>Edit Information</title>
{% endblock title %}
{% block content%}
<div id="layoutAuthentication_content">
    <main>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="card shadow-lg border-0 rounded-lg mt-5">
                        <div class="card-header"><h3 class="text-center font-weight-light my-4">Edit Information</h3></div>
                        <div class="card-body">
                            <form id="editInfoForm" method="POST" action="{% url 'edit-user' %}">
                                {% csrf_token %}
                                <!-- Form -->
                                {{ form.as_p }}
                                <!-- Buttons wrapper -->
                                <div class="d-flex justify-content-center">
                                    <!-- Submit Button -->
                                    <button class="btn btn-primary w-50" id="editInfoButton" type="submit">Edit Information</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
{% endblock content %}
