{% extends 'base/base.html' %}
{% block title %}
<title>Dashboard</title>
{% endblock title %}
{% block content %}
<header class="bg-light py-5 mb-2">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <div class="text-center my-5">
                    <h1 class="display-5 fw-bolder mb-2">Dylan Mercer's Portfolio Admin Dashboard</h1>
                    <p class="text-primary mb-4">Here you can manage the site by managing: incoming messages, projects, skills, credentials, and experience.</p>
                </div>
            </div>
        </div>
    </div>
</header>
<main>
    <div class="row d-flex justify-content-center align-items-center ml-3 mr-3">
        <div class="col-sm-4 col-md-3">
            <div class="card mb-3 d-flex align-items-center justify-content-center text-center">
                <div class="card-body">
                    <div class="d-flex justify-space-between align-items-center mb-1">
                        <h5 class="card-title text-center mx-auto">Messages</h5>
                        <p class="card-text ml-1 mx-auto" data-toggle="tooltip" data-placement="top" title="View and manage all messages here. View all messages by clicking 'View Messages'."><i class="fa fa-info-circle" aria-hidden="true"></i></p>
                    </div>
                    <a href="{% url 'contact-home' %}" class="btn btn-secondary">View Messages</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-center align-items-center ml-3 mr-3">
        <div class="col-sm-4 col-md-3">
            <div class="card mb-3 d-flex align-items-center justify-content-center text-center">
                <div class="card-body">
                    <div class="d-flex justify-space-between align-items-center mb-1">
                        <h5 class="card-title text-center mx-auto">Projects</h5>
                        <p class="card-text ml-1 mx-auto" data-toggle="tooltip" data-placement="top" title="View and manage all projects here. Add a new project by clicking 'Add Project', or view all projects by clicking 'View Projects'."><i class="fa fa-info-circle" aria-hidden="true"></i></p>
                    </div>
                    <a href="{% url 'add-project' %}" class="btn btn-success mb-1">Add Project</a>
                    <a href="{% url 'project-home' %}" class="btn btn-secondary">View Projects</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-3">
            <div class="card mb-3 d-flex align-items-center justify-content-center text-center">
                <div class="card-body">
                    <div class="d-flex justify-space-between align-items-center mb-1">
                        <h5 class="card-title text-center mx-auto">Skills</h5>
                        <p class="card-text ml-1 mx-auto" data-toggle="tooltip" data-placement="top" title="View and manage all skills here. Add a new skill by clicking 'Add Skill', or view all skills by clicking 'View Skills'."><i class="fa fa-info-circle" aria-hidden="true"></i></p>
                    </div>
                    <a href="" class="btn btn-success mb-1">Add Skill</a>
                    <a href="" class="btn btn-secondary">View Skills</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-3">
            <div class="card mb-3 d-flex align-items-center justify-content-center text-center">
                <div class="card-body">
                    <div class="d-flex justify-space-between align-items-center mb-1">
                        <h5 class="card-title text-center mx-auto">Credentials</h5>
                        <p class="card-text ml-1 mx-auto" data-toggle="tooltip" data-placement="top" title="View and manage all credentials here. Add a new credential by clicking 'Add Credential', or view all credentials by clicking 'View Credentials'."><i class="fa fa-info-circle" aria-hidden="true"></i></p>
                    </div>
                    <a href="" class="btn btn-success mb-1">Add Credential</a>
                    <a href="" class="btn btn-secondary">View Credentials</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-3">
            <div class="card mb-3 d-flex align-items-center justify-content-center text-center">
                <div class="card-body">
                    <div class="d-flex justify-space-between align-items-center mb-1">
                        <h5 class="card-title text-center mx-auto">Experience</h5>
                        <p class="card-text ml-1 mx-auto" data-toggle="tooltip" data-placement="top" title="View and manage all experiences here. Add a new experience by clicking 'Add Experience', or view all experiences by clicking 'View Experiences'."><i class="fa fa-info-circle" aria-hidden="true"></i></p>
                    </div>
                    <a href="" class="btn btn-success mb-1">Add Experience</a>
                    <a href="" class="btn btn-secondary">View Experiences</a>
                </div>
            </div>
        </div>
    </div>
</main>
<script>
    $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();
    });
</script>
{% endblock content %}
